@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html {
	background-color: #e7e7aa;
	overflow-x: hidden;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #03392b;
	margin: 0;
}

/* Header pagina */

header {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: 10vw auto 0;
	height: calc(100vh - 10vw);
}

header img {
	position: absolute;
	left: calc(50% - 5vw);
	width: 12vw;
}

header h1 {
	font-size: 10vw;
	margin: 1.8vw auto 0;
	z-index: 1;
}

header p {
	font-size: 1.3vw;
	font-weight: 500;
	width: fit-content;
	margin: 2.7vw auto 0;
}

#ondertitel {
	font-size: 1.5vw;
}

#nextPage {
	position: absolute;
	bottom: -9vw;
	left: 44vw;
	display: flex;
	flex-direction: column;
	width: fit-content;
}

#nextPage div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	margin: 0 0 -2vw -1vw;
}

#nextPage p {
	text-align: center;
	font-size: 1vw;
	font-weight: 700;
	width: 12ch;
	margin: 0;
}

#nextPage img {
	width: 2.5vw;
}

#nextPage #avocado {
	transform: rotate(45deg);
	width: 12vw;
	z-index: 1;
}

#svg {
	font-size: 0;
}

/* Hype pagina */

#Instagrampost {
	width: 50px;
}

/* Health pagina */

#Groep_arrow {
	transform-origin: center;
}

/* Keerzijde pagina */

#persoon2 {
	display: none;
	opacity: 0;
}

/* Rivier pagina */

#rivier_droog {
	display: none;
	opacity: 0.3;
}

/* Alternatief pagina */

#tips_button,
#alternatief_button {
	cursor: pointer;
}

#tips {
	opacity: 0;
	display: none;
}

#tekst_balk > text {
	font-size: 1.4vw;
}

#rect-stopteken {
	fill: #d42016;
	border: solid 10px;
	border-radius: 10px;
}

#stok {
	fill: #e7e7aa;
}
